.datePicker__container {
    display: flex;
    justify-content: center;
    gap: 30px;
    box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.52);
    padding: 40px 40px 10px 40px;

    min-height: 460px;
}
.departure {
    position: relative;
}
.date__header {
    color: #737374;
}
.date__navigator {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.btn:hover {
    background-color: #347d77;
    color: #f9fcfb;
}

.month__select--closed,
.month__select {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 6px 0;
    gap: 4px;
    width: 200px;
    font-size: 16px;
    color: rgb(182, 181, 181);
    cursor: pointer;

    border-bottom: 1px solid rgba(182, 181, 181, 0.29);
}
.month__select,
.month__select-closed:hover {
    box-shadow: 4px 10px 15px 0px rgba(0, 0, 0, 0.087);
}
.options--closed {
    display: none;
}
.options {
    position: absolute;

    top: 30px;
    width: 200px;
    height: 280px;

    overflow-y: scroll;

    background-color: rgb(255, 255, 255);
    box-shadow: 4px 10px 15px 0px rgba(0, 0, 0, 0.087);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.option {
    padding: 5px 0;
}
.option:hover {
    background-color: aliceblue;
}
.select__icon {
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 30px;
    height: 30px;

    border: 1px solid rgb(182, 181, 181);
    border-radius: 4px;

    cursor: pointer;
}
.line {
    width: 1px;
    height: 440px;
    background-color: rgba(205, 205, 205, 0.235);
}
.days__title {
    display: flex;
    gap: 6px;
    margin: 20px 0;
}
.days {
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
    width: 290px;
}
.day__title {
    width: 36px;
    height: 36px;

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: rgb(182, 181, 181);
}
.day__cell {
    width: 36px;
    height: 36px;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #e4f0f1;
    color: #347d77;

    font-size: 18px;

    cursor: pointer;
}

.past {
    background-color: transparent;
    color: #cfcfcf;
    pointer-events: none;
}

.vacation,
.day__cell:hover {
    background-color: #347d77;
    color: #f9fcfb;
}

.tips {
    position: absolute;

    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 4px;

    color: #737374;
    font-size: 14px;

    bottom: 0;
    right: 0%;
}

.tips span:nth-last-child(1) {
    width: 10px;
    height: 10px;

    border-radius: 50%;

    background-color: #e4f0f1;
}

@media screen and (max-width: 768px) {
    .datePicker__container {
        display: flex;
        flex-wrap: wrap;

        margin: 10px;
        padding: 10px;

        min-height: 900px;

        box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.52);
    }
    .start-date__box {
        height: 20px;
    }
    .end-date__box {
        height: 20px;
    }
}
